.wrapper {
    text-align: center;
    background-image: url('./wallpaper.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
